<div class="container section">
  <div class="row">
    <div class="col-xl-6">
      <h3>
        Form
      </h3>
      <!-- form -->
      <form class="form" novalidate>
        <div class="form__item">
          <input type="text" name="name" class="textfield form__name" placeholder="Name">
        </div>
        <div class="form__item">
          <input type="email" name="email" class="textfield form__email" placeholder="Email">
        </div>
        <div class="form__item">
          <input type="text" name="subject" class="textfield form__subject" placeholder="Subject">
        </div>
        <div class="form__item">
          <textarea name="message" class="textfield form__message" placeholder="Message"></textarea>
        </div>
        <div class="form__item">
          <button
            class="btn btn__submit"
            type="submit"
          >
            Submit</button>

          <span class="form__preloader">
            <i class="fas fa-spinner"></i>
          </span>
        </div>
      </form> <!-- ./form -->

    </div>
  </div>
</div>