@mixin rem($px) {
  font-size: ($px / $root-font) + rem;
}

@mixin background($url) {
  background: center center no-repeat/cover;
  background-image: url($url);
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder { 
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
}