<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 d-sm-flex justify-content-sm-between d-flex justify-content-between">
        {% include 'components/logo/logo.html' %}

        <button class="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div
        class="col-xl-10 col-lg-10 col-md-12 justify-content-end d-flex align-items-center"
      >
        {% include 'components/header/nav/nav.html' %}
      </div>
    </div>
  </div>
</header>